<div class="container" style="margin-top: 8rem; margin-bottom: 12rem;" id="home">
    <div class="row">
        <h1 class="text-center">Fish & Chips</h1>
        <div style="margin-top: 2rem;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="text-center" style="line-height: 2.5rem;">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Numquam quidem accusantium recusandae deserunt minus tempore 
                    fugiat eos ipsa consequatur iusto officia ut ullam, ratione 
                    dolorum eveniet beatae vero quisquam. Minima porro qui rerum 
                    sunt placeat harum commodi libero a quisquam excepturi. 
                    Qui ratione fugit eligendi quisquam nihil sit molestias quas ducimus, 
                    sapiente nisi odit minus mollitia quam quia sint. 
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="row text-center" style="margin-top: 5rem;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <a href="#" class="col-md-6">
                <div id="home-thumb-one" style="background-image: url(assets/img/home-thumb-one.jpg);">
                </div>
            </a>
            <a href="#" class="col-md-6">
                <div id="home-thumb-two" style="background-image: url(assets/img/home-thumb-two.jpg);">
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>