#banner-img {
    position: relative;
}

#banner-img:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    background-image: url('../../assets/img/bannerimg.jpg');
}

#banner-content {
    position: relative;
    height: 350px;
}

#arrow-left,
#arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-arrow {
    opacity: 0.6;
}

.btn-arrow:focus {
    outline: none;
}

.background-text-one {
    background-image: url('../../assets/img/mealonetext.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    height: 100%;
}

.background-text-two {
    background-image: url('../../assets/img/mealtwotext.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    height: 100%;
}

.background-text-three {
    background-image: url('../../assets/img/mealthreetext.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    height: 100%;
}