#page-container {
  position: relative;
  min-height: 100vh;
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


#content-wrap-bg {
  background-color: rgba(250, 250, 250, 0.5);
  padding-bottom: 100px;    /* Footer height */
}
  
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;            /* Footer height */
}
